---
layout: default
title: Inventory of taxes
permalink: /taxes/
---

<a href="../" class="rounded-md bg-indigo-600 px-2.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><span aria-hidden="true">←</span> TaxTracker home</a>

<div class="relative overflow-hidden bg-white py-16">
  <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
    <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
      <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-lg">
      <h1>
        <span class="block text-center text-lg font-semibold text-indigo-600">An inventory of</span>
        <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
          Taxes
        </span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-gray-500">
        More than 80 types of taxes exist.
      </p>
    </div>
    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-500">
      <p>
        Taxes are imposed on income of individuals and corporations by the federal, most state, and some local governments.
        Income subject to tax is determined under tax accounting rules, not financial accounting principles, and includes almost all income from whatever source.
      </p>

      <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
        <dl class="mt-4 space-y-6 divide-y divide-gray-900/10">
          <div class="pt-6">
            <dt>
              <!-- Expand/collapse question button -->
              <button type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="faq-0" aria-expanded="false">
                <span class="text-base font-semibold leading-7">
                  An overview of taxation in the United States
                </span>
              </button>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class="text-base leading-7 text-gray-600">
                The U.S. has an assortment of federal, state, local, and special-purpose governmental jurisdictions.
                Each imposes taxes to fully or partly fund its operations.
                These taxes may be imposed on the same income, property or activity, often without offset of one tax against another.
                The types of tax imposed at each level of government vary, in part due to constitutional restrictions.
                Income taxes are imposed at the federal and most state levels.
                Taxes on property are typically imposed only at the local level, although there may be multiple local jurisdictions that tax the same property.
                Other excise taxes are imposed by the federal and some state governments.
                Sales taxes are imposed by most states and many local governments.
                Customs duties or tariffs are only imposed by the federal government.
                A wide variety of user fees or license fees are also imposed.
              </p>
              <p class="text-sm text-gray-600">
                Source:
                <a href="https://en.wikipedia.org/wiki/Taxation_in_the_United_States"
                target="_blank"
                rel="noopener">Wikipedia</a>
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <br>
    <hr class="mt-5 mb-5">
    <br>

    <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">
      Examples of different types of taxes levied
    </h2>

    <div class="mx-auto mt-6 text-gray-500">
      {% include tax-list.html %}
    </div>

    <hr class="mb-5">
    <br>

    {% include cta.html %}

  </div>
</div>
