<ul role="list" class="divide-y divide-gray-200">
  {% for tax in site.data.taxes %}
  <li class="relative bg-white px-4 py-5 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 hover:bg-gray-50">
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <a href="#" class="block focus:outline-none">
          <span class="absolute inset-0" aria-hidden="true"></span>
          <p class="truncate text-sm font-medium text-gray-900">
            {{ tax.name }}
          </p>
          <p class="truncate text-sm text-blue-500">
            <a href="{{ tax.url }}"
              target="_blank"
              rel="noopener">{{ tax.source }}</a>
          </p>
        </a>
      </div>
      <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500 hidden">1d ago</time>
    </div>
    <div class="mt-1">
      <p class="line-clamp-2 text-sm text-gray-600">
        {{ tax.description }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
